<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-canvas1></app-canvas1>
        </div>
        <div class="col-md-6 ">
            <app-canvas2></app-canvas2>
        </div>
        <div class="col-md-6 ">
            <app-canvas3></app-canvas3>
        </div>
        <div class="col-md-6 ">
            <app-canvas4></app-canvas4>
        </div>
        <div class="col-md-6 ">
            <app-canvas5></app-canvas5>
        </div>
        <div class="col-md-6 ">
            <app-canvas6></app-canvas6>
        </div>
        <div class="col-md-6 ">
            <app-canvas7></app-canvas7>
        </div>
        <div class="col-md-6 ">
            <app-canvas8></app-canvas8>
        </div>
    </div>
    <div class="row">
        <app-images></app-images>
    </div>
</div>
<button class="btn btn-danger mt-4" (click)="send()">Send</button>