
<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 bg-dark" style=" height: 100vh;">
        <h5 class="text-white mt-5"><b>Lorem ipsum</b></h5>
        <p class="text-white mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aliquid velit fugit quia unde iste perferendis ipsam, deleniti labore dolore ullam nihil nisi assumenda eius similique. Perspiciatis nihil ipsa consectetur!</p>
        <h5 class=" text-white mt-5"><b>Lorem ipsum</b></h5>
        <p class="text-white mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aliquid velit fugit quia unde iste perferendis ipsam, deleniti labore dolore ullam nihil nisi assumenda eius similique. Perspiciatis nihil ipsa consectetur!</p>
        <h5 class="text-white mt-5"><b>Lorem ipsum</b></h5>
        <p class="text-white mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aliquid velit fugit quia unde iste perferendis ipsam, deleniti labore dolore ullam nihil nisi assumenda eius similique. Perspiciatis nihil ipsa consectetur!</p>
      
      </div>
      <div class="col-md-9" style="padding-left: 50px; padding-right: 50px">
        <h5 class="mt-4">Lorem ipsum</h5>
        
       <div class="row mt-5 ">
           <div class="col-md-5 text-center" >
              <h3> Item 1</h3>
              <div class="card mt-4 shadow-sm">
                <div class="card-body">
                    <table class="table mt-4">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">File</th>
                            <th scope="col">Edit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let document of documentsType1">
                            <th scope="row">1</th>
                            <td >{{document.propertie1}}</td>
                            <td style="cursor: pointer" (click)="getPdf(document.document_id)"><i style="color: #33A1FD" class="fa fa-file-pdf-o fa-1x"></i></td>
                            <td [routerLink]="['/edit-file/', document.document_id]" style="cursor: pointer" ><i style="color: #31393C" class="fa fa-edit fa-1x"></i></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
              
           </div>
           <div class="col-md-5 offset-md-1 offset text-center">
               <h3>Item 2</h3>
               <div class="card mt-4 shadow-sm">
                <div class="card-body">
                    <table class="table mt-4">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">File</th>
                            <th scope="col">Edit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let document of documentsType2">
                            <th scope="row">1</th>
                            <td >{{document.propertie1}}</td>
                            <td style="cursor: pointer" (click)="getPdf(document.document_id)"><i style="color: #33A1FD" class="fa fa-file-pdf-o fa-1x"></i></td>
                            <td [routerLink]="['/edit-file/', document.document_id]" style="cursor: pointer"><i style="color: #31393C" class="fa fa-edit fa-1x"></i></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
             
           </div>
       </div>
      </div>
    </div>
  </div>
  <!--
  <div class="container mt-5">
      <div class="row">
          <div class="col-md-12">
              <form [formGroup]="documentForm" (ngSubmit)="createFile()">
          
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example1">Name</label>
                    <input type="text" id="form4Example1" class="form-control" formControlName="propertie1"/>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example1">Name</label>
                    <input type="email" id="form4Example2" class="form-control" formControlName="propertie2"/>
                  </div>
                
                  <div class="form-outline mb-4">
                      
                    <label class="form-label" for="form4Example3">Message</label>
                    <textarea class="form-control" id="form4Example3" rows="4" formControlName="propertie3"></textarea>
                  </div>
                
                
                  <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>
                </form>
          </div>
      </div>
  </div>
  -->